.company_cooperation_item {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  opacity: 0;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 553px;

    img {
      width: 43px;
    }

    p {
      margin: 16px 0 40px;
      font-size: 32px;
      font-weight: 900;
      color: #333333;
      line-height: 50px;
    }
  
    span {
      font-size: 18px;
      color: #333333;
      line-height: 21px;
    }
  }
}

.row_reverse {
  flex-direction: row-reverse;
}