//进场前的瞬间
.enter {
  position: relative;
  left: 0;
  top: 200px;
  opacity: 0;
}

//进场过程中
.enterActive {
  opacity: 1 !important;
  top: 0;
  // transition: opacity 4000ms, top 4000ms;
  // transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  // transition-timing-function: ease;

  // transition: top 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s, opacity 1s cubic-bezier( 0.6, 0.2, 0.1, 1 ) 0s;
  transition: top 3s ease 0.1s, opacity 3s ease 0.1s;
  // transition: .1s cubic-bezier(0.41,0.75,0.41,0.74);
  
}

//进场之后
.enterDone {
  opacity: 1 !important;
  top: 0;
}