.footer {

  :global {
    .nav {
      h1 {
        img {
          width: 147px;
        }
      }
    }
  }

  .custom_classname {
    color: yellow;
  }

  .statement {
    margin-top: 32px;

    li {
      margin-bottom: 16px;
      font-size: 14px;
      color: #FFFFFF;
      line-height: 16px;

      &:hover {
        text-decoration-line: underline;
        text-decoration-color: #ffffff;
      }
    }
  }

  p {
    margin-top: 104px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 14px;
  }
}