.w1200 {
  margin: 0 auto;
  width: 1200px;
}
.main {
  position: relative;
  font-family: Arial-Black;

  .header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
  }
  
  .banner {
    overflow: hidden;
    min-width: 1200px;
  
    img {
      width: 100%;
    }
  }
  
  .university_cooperation {
    .content {
      h6 {
        font-family: Arial-Black;
        margin: 90px 0 32px;
        font-size: 50px;
        font-weight: 900;
        color: #08237C;
        line-height: 60px;
        text-align: center;
      }

      .swiper_box {
        height: 650px;    
        margin-bottom: 90px;

        :global {
          .swiper-button-prev,
          .swiper-button-next {
            margin-top: 0;
            width: 55px;
            height: 55px;
            background-image: url('/image/home/default_switch_btn.png');

            &::after {
              content: '';
            }

            &:hover {
              background-image: url('/image/home/active_switch_btn.png');
            }
          }

          .swiper-button-prev {
            top: 0;
            left: 1080px;
            transform: rotate(180deg);
          }

          .swiper-button-next {
            top: 10px;
            right: 0;
          }

          .swiper-pagination {
            bottom: 0;

            span {
              width: 10px;
              height: 10px;
              border-radius: 0;
              background: #08237C;
              border-radius: 1px;
              opacity: 0.39;

              &.swiper-pagination-bullet-active {
                width: 34px;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .target_population {
    min-width: 1200px;
    height: 932px;
    background: url('/image/home/target_population/bg.png') center;

    h6 {
      margin: 0 auto;
      padding-top: 90px;
      width: 1200px;
      display: flex;
      justify-content: flex-end;
      font-size: 50px;
      font-family: Arial-Black, Arial;
      font-weight: 900;
      color: #08237C;
      line-height: 60px;
    }

    .swiper_box {
      :global {
        .swiper-button-prev,
        .swiper-button-next {
          margin-top: 0;
          width: 55px;
          height: 55px;
          background-image: url('/image/home/default_switch_btn.png');

          &::after {
            content: '';
          }

          &:hover {
            background-image: url('/image/home/active_switch_btn.png');
          }
        }

        .swiper-button-prev {
          top: 48px;
          left: 1080px;
          transform: rotate(180deg);
        }

        .swiper-button-next {
          top: 58px;
          right: 0;
        }
      }
    }
  }

  .company_cooperation {
    .content {
      position: relative;
      padding: 166px 0 92px;

      h6 {
        position: absolute;
        top: 90px;
        left: 76px;
        font-size: 50px;
        font-family: Arial-Black, Arial;
        font-weight: 900;
        color: #08237C;
        line-height: 60px;
      }
    }
  }

  .map {
    padding: 90px 0;
    background-image: url('/image/home/map_bg.png');
    .content {
      h6 {
        padding-bottom: 56px;
        font-size: 50px;
        font-weight: 900;
        color: #08237C;
        line-height: 60px;
        text-align: center;
      }
    }
  }

  footer {
    background: url('/image/home/footer_bg.png') center, url('/image/home/map_bg.png');
    background-repeat: no-repeat;

    .content {
      padding: 92px 0 56px;
    }
  }
}
  
.swiper {
  .item {}
}
  