@font-face {
  font-family: 'Arial-Black';    // 自定义字体名称
  src: url('../public/font/Arial-Black.ttf');
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Arial, Arial-Black, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
